body {
position: absolute;
left: 50%;
top: 50%;
}

.container {
width: 1400px;
height: 456px;
background: #FFFFFF;
}

button {
  width: 78px;
  height: 78px;
  left: 539px;
  top: 189px;
  font-size: 48px;
  background: #D9D9D9;
  cursor: pointer;
  border-radius: 50%;
}

span {
width: 17px;
height: 60px;
left: 679px;
top: 198px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
letter-spacing: 0.48px;
color: #000000;
}

